<div *ngIf="this.DataLoaded" class="animated fadeIn">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<div *ngIf="!this.DataLoaded">
Loading...
</div>
 <!--scroll to top-->
 <div class="scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
 <!-- theme switcher (FOR DEMO ONLY - REMOVE FROM PRODUCTION)-->
 <div class="switcher-wrap">
  <div class="switcher-trigger">
      <span class="fa fa-gear"></span>
  </div>
  <div class="switcher-wrap">
    <div class="switcher-trigger">
        <span class="fa fa-gear"></span>
    </div>
    <div class="color-switcher">
        <h6>Color Switcher</h6>
        <ul class="mt-3 clearfix">
            <li class="bg-orange" data-color="default" title="Default Orange"></li>
            <li class="bg-blue" data-color="blue" title="Blue"></li>
            <li class="bg-green" data-color="green" title="Green"></li>
            <li class="bg-red" data-color="red" title="Red"></li>
            <li class="bg-indigo" data-color="indigo" title="Indigo"></li>
            <li class="bg-yellow  active" data-color="yellow" title="Yellow"></li>
            <li class="bg-teal" data-color="teal" title="Teal"></li>
            <li class="bg-cyan" data-color="cyan" title="Cyan"></li>
            <li class="bg-purple" data-color="purple" title="Purple"></li>
            <li class="bg-pink" data-color="pink" title="Pink"></li>
        </ul>
        <p>These are just demo colors. You can <b>easily</b> create your own color scheme.</p>
    </div>
</div>
